* { 
    margin: 0;
    padding: 0;
}
nav {
    font-family: 'Suez One', serif;    
}

.escudo-polaco {
    width: 100px;
     height: 30px;
     padding-left: 65px;
}

.escudo-teuton {
    width: 100px;
     height: 30px;
     padding-left: 65px;
}

.escudo-lituano {
    width: 100px;
     height: 30px;
     padding-left: 65px;
}


body {
    font-family: 'Open Sans', sans-serif;
}

#dias-guerra {
    font-family: 'Suez One', serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.verticalLine {
    border-left: thick solid #000000;
  }

